<html style="background-image: url('https://tint.creativemarket.com/2dG8MDTlEyrKPzHbjO8EnHfh70-D9O66IbEeym6JNFQ/width:1820/height:1214/gravity:nowe/rt:fill-down/el:1/preset:cm_watermark_retina/czM6Ly9maWxlcy5jcmVhdGl2ZW1hcmtldC5jb20vaW1hZ2VzL3NjcmVlbnNob3RzL3Byb2R1Y3RzLzY4My82ODM5LzY4Mzk5NDAvZ2dlZmExeDJwdXJwbWczMW1rb3Rpdm15bHVkcmtudHhyamwxd3R6OG50eXhmeDN0dW1zZmxpdWxreXdraWhkMi1vLmpwZw'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
  <body>
    <h1 align="center" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">NIHA BAKES</h1>
    <nav>
      <a routerLink="login" routerLinkActive="active" class="nav-link">Login</a>
      <a routerLink="register" routerLinkActive="active" class="nav-link">Register</a>
      <a routerLink="home" routerLinkActive="active" class="nav-link">Home</a>
      <a routerLink="cart" routerLinkActive="active" class="nav-link">
        <span class="icon">
          <i class="fas fa-shopping-cart"></i>
        </span>
      </a>
      <a routerLink="calculator" routerLinkActive="active" class="nav-link">Bill</a>
      <a routerLink="feedback" routerLinkActive="active" class="nav-link">Feedback</a>
    </nav>

    <router-outlet></router-outlet>
  </body>
</html>
